<h1>dữ liệu từ controller gửi về là: @ViewBag.infoPerson</h1>
<form asp-action="Index">
    <label>nhap PersonID:</label>
    <input type="Text" name="PersonID">
    <label>nhap Home ten:</label>
    <input type="text" name="FullName">
    <label>nhap dia chi:</label>
    <input type="text" name="Address"
    <input type="submit" value="gui du lieu">
</form>