@{
    ViewData["Title"] = "Home Page";
}
<form asp-action="Index">
    <label>nhap ho ten:</label>
    <input type="Text" name="FullName">
    <label>nhap dia chi:</label>
    <input type="text" name="Address">
    <input type="submit" value="gui du lieu">
</form>
<h1>@ViewBag.Message</h1>