<h1>Điểm tổng: @ViewBag.infoPerson</h1>
<form asp-action="Index">
    <label>Điểm A</label>
    <input type="text" name="DiemA">
    <label>Điểm B</label>
    <input type="text" name="DiemB">
    <label>Điểm C</label>
    <input type="text" name="DiemC">
    <input type="Submit" value="gửi dữ liệu">
</form>